body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
}

li div {
  display: flex;
  align-items: center;
}

li button {
  background-color: #ff6347;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

li button.view {
  background-color: #00a0d2;
}

button {
  background-color: #00a0d2;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0089ba;
}

button.cancel {
  background-color: #ccc;
  margin-left: 10px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
}

.modal h2 {
  font-size: 18px;
  margin: 0;
}

.modal label {
  display: block;
  margin-top: 10px;
}

input[type="text"],
input[type="password"] {
  width: 25%;
  padding: 8px;
  margin-bottom: 10px;
  border: 2px solid #080808;
  border-radius: 5px;
}
